{% extends "BotchlaJiraBundle::base.html.twig" %}

{% block title %}BotchlaJira : Issues - today{% endblock %}
{% block body %}
    <h1>Issues</h1>
    <h2>Time spent today: {{ totaltime }}</h2>
    <p>Overzicht van alle issues waar vandaag tijd op is gelogd</p>
    <table class="table table-condensed table-striped">
    {% for issue in result %}
        <tr>
          <td class="small">{{ issue.key }}</td>
          <td>{{ issue.fields.summary }}</td>
          <td width="25"></td>
          <td class="actions"></td>
          <td>
            <div class="IssueWorklog">
            {% for worklog in issue.IssueWorklog %}
              <div class="worklogItem">
                <div class="worklogTitle clearfix">
                  <span class="worklogauthor">{{ worklog.author.displayName}}</span>
                  <span class="worklogtime">{{ worklog.timeSpentSeconds / 60 / 60 }} uur</span>
                </div>
                <div class="worklogcomment">
                  {{ worklog.comment|nl2br }}
                  <span class="worklogTimeUpdate"> {{ worklog.updated|date('Y-m-d H:i') }} </span>
                </div>
              </div>
            {% else %}
              <strong>No worklog</strong>
            {% endfor %}
          </div>
          </td>
        </tr>
    {% else %}
        <caption>No issues have been found.</caption>
    {% endfor %}
    </table>
{% endblock %}