<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign in &middot; jira</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{ asset('bundles/botchlajira/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/botchlajira/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/botchlajira/css/custom.css') }}" rel="stylesheet" />
</head>

<body class="login">
  <div class="container">
    <form action="{{ url('login') }}" method="post" class="form-signin">
        <h2>Login</h2>
        <p>Please supply your login credentials and the jira-url you want to connect to</p>

        <div class="control-group">
            <label for="username" class="control-label">Username:</label>
            <div class="controls">
                <input type="text" id="username" class="input-xlarge" name="_username" value="{{ last_username }}" placeholder="username" />
            </div>
        </div>

        <div class="control-group">
            <label for="password" class="control-label">Password:</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="_password" placeholder="password" />
            </div>
        </div>

        <div class="control-group">
            <label for="jiralocation" class="control-label">Jira-Location:</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="jiralocation" name="jiralocation" value="{{ jiralocation }}" placeholder="http://myjira.example.com" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="remember_me">Keep me logged in</label><input type="checkbox" id="remember_me" name="_remember_me" checked />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="login" name="login" class="btn btn-large btn-primary" />
            </div>
        </div>

    </form>
</div> <!-- /container -->

</body>
</html>